@page-padding: 2rem;

.page-header {
  padding-top: @page-padding;
  padding-bottom: @page-padding;
}

.page-body {
  padding-top: @page-padding;
  padding-bottom: @page-padding;
}

.page-footer {
  padding-top: @page-padding;
  padding-bottom: @page-padding;
}

.page-container {
  .utils > .center;
  max-width: 60rem;
  padding-left: @page-padding;
  padding-right: @page-padding;
}
