.page-homepage {

  #site-header {
    border-bottom: 0; 
  }
  .page-header {
    padding: 0;
  }
  .page-body {
    text-align: center;
  }
  .section-title {
    color: @color-orange;
  }
  .section {
    border-top: 1px solid @color-orange;
    &:first-child {
      border-top: 0;
      padding-top: 0;
    }
  }
}


#facultati {

  .section-body {
    display: inline-block;
    text-align: left;
    padding-left: 96px;
  }
  .sprite-universities {
    margin-left: -102px;
  }
}
