---
layout: default
class: page-homepage
showBanner: yes
sitemap: false
---

<header class="page-header">
  {% if page.showBanner %}
    {% include banner.html %}
  {% endif %}
</header>

<main class="page-body">
  <div class="page-container">

    <section id="" class="section">
      <header class="section-header">
        <h2 class="section-title">Ce este Summerjobs?</h2>
      </header>
      <div class="section-body">

        <p class="site-description large leading-xxlarge">{{ site.descriptionHTML }}</p>

        <div class="row container-small">
          <div class="col xs-6">
            <div class="align-left">
              <h5>Pentru Studenți</h5>
              <ul class="no-list">
                <li>
                  <a href="{{ '/joburi.html' | prepend: site.baseurl  }}">Joburi</a>
                </li>
                <li>
                  <a href="{{ '/pentru-studenti.html#cum-pot-sa-aplic' | prepend: site.baseurl  }}">Cum pot să aplic?</a>
                </li>
                <li>
                  <a href="{{ '/pentru-studenti.html' | prepend: site.baseurl  }}">Mai multe</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col xs-6">
            <div class="align-left">
              <h5>Pentru Companii</h5>
              <ul class="no-list">
                <li>
                  <a href="{{ '/pentru-companii.html#cum-adaug-un-job' | prepend: site.baseurl  }}">Cum adaug un job?</a>
                </li>
                <li>
                  <a href="{{ '/pentru-companii.html#pachetul' | prepend: site.baseurl  }}">Ce include pachetul?</a>
                </li>
                <li>
                  <a href="{{ '/pentru-companii.html#cost' | prepend: site.baseurl  }}">Cât costă?</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>







    <section class="section align-left">
      <header class="section-header align-center">
        <h2 class="section-title">Joburi</h2>
      </header>
      <div class="section-body">
        
        <div class="listing listing-jobs">

      

      <div class="listing-body">
        {% assign check = 0 %}
        {% for COMPANY in site.data.companies %}
        {% assign companyId = COMPANY[0] %}
        {% assign company = COMPANY[1] %}
        {% assign check = 0 %}
        {% assign dim=company.jobs | size %}
        {% if dim <= 1 %}
          {% for JOB in company.jobs %}
            {% assign jobId = JOB[0] %}
            {% assign job = JOB[1] %}
            {% if JOB[1].status == "closed" %}
              {% assign check=1 %}
            {% endif %}
           {% endfor %}
        {% endif %}
        {% if check == 0 %}
        <div class="listing-group">

          <header class="listing-group-header">

            <div id="{{ companyId }}" class="company snippet">
              <div class="leading">
                {% if company.logo %}
                  <a class="company-logo"
                     href="{{ company.page.url }}" 
                     title="Detalii despre companie">
                    <img src="{{ company.page.dir }}{{ company.logo }}"
                         alt="{{ company.name }} logo">
                  </a>
                {% endif %}
                <h3 class="company-name">
                  <a href="{{ company.page.url }}" title="Detalii despre companie">
                    {{ company.name }}
                  </a>
                </h3>
              </div>
              <p class="company-description">{{ company.description }}</p>
              <a class="company-website" href="{{ company.website }}" target="_blank" rel="external">{{ company.website | split:"://" | last }}</a>
            </div>
          </header>

          <ul class="listing-items">
            {% for JOB in company.jobs %}
              {% assign jobId = JOB[0] %}
              {% assign job = JOB[1] %}
              {% if job.status == "open" %}
                <li class="listing-item">
                  {% include job-snippet.html job=job %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>

        </div>
        {% endif %}
        {% endfor %}

      </div>


      </div>
    </section>
    <script 
  src="https://code.jquery.com/jquery-2.2.3.min.js"
  integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
  crossorigin="anonymous">
</script>

    <!--
    <section id="companii" class="section">
      <header class="section-header">
        <h2 class="section-title">Companii</h2>
      </header>
      <div class="section-body">
        <ul class="no-list">
        {% for COMPANY in site.data.companies %}
          <li>
            {% assign companyId = COMPANY[0] %}
            {% assign company = COMPANY[1] %}
            <h4><a href="{{ company.page.url }}">{{ company.name }}</a></h4>
          </li>
        {% endfor %}
        </ul>
      </div>
    </section> -->

    <section id="parteneri" class="section">
      <header class="section-header">
        <h2 class="section-title">Parteneri</h2>
      </header>
      <div class="section-body">
        <ul class="list-partners">
          <li>
            <a href="http://www.asaff.ro/" rel="external" target="_blank">
              <span class="sprite-partners sprite-asaff"></span>
              Asociația Studenților și Absolvenților Francofoni ASAFF
            </a>
          </li>
          <li>
            <a href="http://ascig.ro/" rel="external" target="_blank">
              <span class="sprite-partners sprite-ascig"></span>
              Asociația Studenților în Contabilitate și Informatică de Gestiune ASCIG
            </a>
          </li>
          <li>
            <a href="http://as-mi.ro" rel="external" target="_blank">
              <span class="sprite-partners sprite-asmi"></span>
              Asociația Studenților la Matematică și Informatică ASMI
            </a>
          </li>
          <li>
            <a href="http://lsacbucuresti.ro/" rel="external" target="_blank">
              <span class="sprite-partners sprite-lsac"></span>
              Liga Studenților din Facultatea de Automatică și Calculatoare LSAC
            </a>
          </li>
          <li>
            <a href="http://lse.org.ro/" rel="external" target="_blank">
              <span class="sprite-partners sprite-lse"></span>
              Liga Studenților Electroniști LSE
            </a>
          </li>
          <li>
            <a href="http://sisc.ro/" rel="external" target="_blank">
              <span class="sprite-partners sprite-sisc"></span>
              Sindicatul Studenților din Cibernetică
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section id="facultati" class="section">
      <header class="section-header">
        <h2 class="section-title">Facultăți</h2>
      </header>
      <div class="section-copy leading-xxlarge">
        <header class="section-header faculty">
          <a href="http://www.upb.ro/" rel="external" target="_blank">
            <div class="leading inline">
              <span class="sprite-universities sprite-upb"></span>
            </div>
            <h6 class="inline">Universitatea Politehnică din București</h6>


          </a>
        </header>

        <ul class="list">
          <li>
              <a href="http://acs.pub.ro//" rel="external" target="_blank">
                Facultatea de Automatică și Calculatoare
              </a>

          </li>
          <li>

              <a href="http://www.electronica.pub.ro/" rel="external" target="_blank">
                Facultatea de Electronică, Telecomunicații și Tehnologia Informației
              </a>

          </li>
          <li>

              <a href="http://ing.pub.ro/" rel="external" target="_blank">
                Facultatea de Inginerie în Limbi Străine
              </a>

          </li>
          <li>

              <a href="http://www.faima.pub.ro/" rel="external" target="_blank">
                Facultatea de Antreprenoriat, Ingineria și Managementul Afacerilor
              </a>

          </li>
        </ul>
      </div>


      <div class="section-copy leading-xxlarge">
        <header class="section-header faculty">
          <a href="http://www.ase.ro/" rel="external" target="_blank">
            <div class="leading inline">
              <span class="sprite-universities sprite-ase"></span>
            </div>
            <h6 class="inline">Academia de Studii Economice din București</h6>


          </a>
        </header>
        <ul class="list">
          <li>

              <a href="http://www.csie.ase.ro/" rel="external" target="_blank">
                Facultatea de Cibernetică, Statistică și Informatică Economică
              </a>

          </li>
          <li>

              <a href="http://www.cig.ase.ro/" rel="external" target="_blank">
                Facultatea de Contabilitate și Informatică de gestiune
              </a>

          </li>
          <li>

              <a href="http://www.rei.ase.ro/" rel="external" target="_blank">
                Facultatea de Relații Economice Internaționale
              </a>

          </li>
        </ul>
      </div>


      <div class="section-copy leading-xxlarge">
        <header class="section-header faculty">
          <a href="http://unibuc.ro/" rel="external" target="_blank">
            <div class="leading inline">
              <span class="sprite-universities sprite-unibuc"></span>
            </div>
            <h6 class="inline">Universitatea din București</h6>


          </a>
        </header>
        <ul class="list">
          <li>

              <a href="http://fmi.unibuc.ro/" rel="external" target="_blank">
                Facultatea de Matematică și Informatică
              </a>

          </li>
          <li>

              <a href="http://www.istorie.unibuc.ro/" rel="external" target="_blank">
                Facultatea de Istorie
              </a>
          </li>
        </ul>
      </div>



      <div class="section-copy leading-xxlarge">
        <header class="section-header faculty">
          <a href="http://www.uaic.ro/" rel="external" target="_blank">
            <div class="leading inline">
              <span class="sprite-universities sprite-uaic"></span>
            </div>
            <h6 class="inline">Universitatea Alexandru Ioan Cuza din Iași</h6>


          </a>
        </header>
        <ul class="list">
          <li>

              <a href="http://www.info.uaic.ro/" rel="external" target="_blank">
                Facultatea de Informatică
              </a>

          </li>
          <li>

              <a href="http://www.feaa.uaic.ro/" rel="external" target="_blank">
                Facultatea de Economie și Administrarea Afacerilor
              </a>

          </li>
          <li>

              <a href="http://www.bio.uaic.ro/" rel="external" target="_blank">
                Facultatea de Biologie
              </a>

          </li>
        </ul>
      </div>



      <div class="section-copy leading-xxlarge">
        <div class="section-copy leading-xxlarge">
          <header class="section-header faculty">
            <a href="http://www.tuiasi.ro/" rel="external" target="_blank">
              <div class="leading inline">
                <span class="sprite-universities sprite-tuiasi"></span>
              </div>
              <h6 class="inline">Universitatea Tehnică Gh. Asachi din Iași</h6>


            </a>
          </header>
        <ul class="list">
          <li>

              <a href="http://www.ace.tuiasi.ro/" rel="external" target="_blank">
                Facultatea de Automatică și Calculatoare
              </a>

          </li>
        </ul>
      </div>
    </section>
  </div>
</main>
