---
title: Joburi
layout: default
permalink: joburi
sitemap: false
---

<header class="page-header">
  <div class="page-container">
    <h1 class="page-title">
      Junio Summerjobs
      <em>Joburi</em>
    </h1>

    <small>
      {{ site.data.companies|size }} Companii,
      {{ site.data.jobs|size }} Joburi
    </small>
  </div>
</header>

<main class="page-body">
  <div class="page-container">

    <div class="listing listing-jobs">

      

      <div class="listing-body">

        {% for COMPANY in site.data.companies %}
        {% assign companyId = COMPANY[0] %}
        {% assign company = COMPANY[1] %}
        <div class="listing-group">
          <header class="listing-group-header">
            <div id="{{ companyId }}" class="company snippet">
              <div class="leading">
                {% if company.logo %}
                  <a class="company-logo"
                     href="{{ company.page.url }}" 
                     title="Detalii despre companie">
                    <img src="{{ company.page.dir }}{{ company.logo }}"
                         alt="{{ company.name }} logo">
                  </a>
                {% endif %}
                <h3 class="company-name">
                  <a href="{{ company.page.url }}" title="Detalii despre companie">
                    {{ company.name }}
                  </a>
                </h3>
              </div>
              <p class="company-description">{{ company.description }}</p>
              <a class="company-website" href="{{ company.website }}" target="_blank" rel="external">{{ company.website | split:"://" | last }}</a>
            </div>
          </header>

          <ul class="listing-items">

            {% for JOB in company.jobs %}
            {% assign jobId = JOB[0] %}
            {% assign job = JOB[1] %}
            {% include job-snippet.html %}
            {% endfor %}
          </ul>

        </div>
        {% endfor %}

      </div>

    </div>

  </div>
</main>

<footer class="page-footer">
  
</footer>
