---
company:
  name: Fordaq
  description: Fordaq administreaza o piata online pentru profesionistii lemnului. 
  address: Str. Maior Gherghe Șonțu nr. 8, București, România
  website: http://www.fordaq.com
  logo: ./fordaq-logo.png
  logoAlt:
  social:
    facebook: https://www.facebook.com/fordaq/
    twitter: https://twitter.com/fordaq
    googleplus: https://plus.google.com/u/0/+fordaq/
    linkedin: https://www.linkedin.com/company/fordaq
useLogoAlt: false # uses dark bg version of logo. delete entirely to remove
---

<!-- Customize page here -->
<style>
  .company-header {
    background-color: #B00000;
    color: #fff;
  }
  .company-name,
  .company-description {
    color: inherit;
  }
  .company-website {
    color: inherit;
    display: inline-block;
    border-bottom: 1px dashed;
  }
  .company-website:hover,
  .company-website:focus {
    color: inherit;
    border-bottom-style: solid;
  }

</style>

{% assign company=page.company %}

<!-- Basic section markup -->
<section class="section">
  <header class="section-header">
    <h2 class="section-title">Cine suntem</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>Mai mult de 140.000 de profesionisti ai lemnului (producatori de bustean, cherestea, furnir, panel, importatori si consumatori industriali) au ales sa devina membri Fordaq. Multe din cele mai mari companii din Europa sunt membre Fordaq. Fordaq are birouri in Belgia, Franta, Germania, Italia, Olanda, Croatia, Romania, Polonia si China. Noi vizitam membrii atit cit este posibil astfel incit sa garantam ca tu poti face afaceri adevarate cu parteneri adevarati.</p>
      {% include company-social.html social=company.social  %}
    </div>
  </div>
</section>


<section class="section">
  <header class="section-header">
    <h2 class="section-title">Joburi</h2>
  </header>
  <div class="section-body">

    {% include company-jobs.html jobs=company.jobs %}
  
  </div>
</section>

