---
job:
  title: 'Patern recognition / image processing / edge detection software'
  description: Fordaq International caută oameni experimentați pentru un proiect de procesare de imagine ce implică recunoașterea modelelor, detectarea marginilor, histograme, procesare euristică și/sau neural nets.
  department: 'IT/Telecom'
  category: 'Software'
  thumbnail: 'job-thumbnail.jpg'
  applyUrl: 'https://junio.ro/jobs/i-ittelecom-j-patern-recognition-image-processing-edge-detection-software-c-fordaq-international-97847' # the url from the corresponding job in Junio.ro
  date: 2016-05-06
  
useLogoAlt: true # uses dark bg version of logo. delete entirely to remove
---

<!-- Customize page here -->
<!-- Delete <style> to see default -->
<style>

  .job-header {
    /* change header background */
    background: #222;
    color: #fff;
  }

  .job-title,
  .job-domain,
  .job-company {
    color: inherit;
  }

  .btn-apply {
    color: #fff;
    background-color: #21c374;
    background-image: linear-gradient(#16b15b, #21c374);
    box-shadow: 0 3px 0 #16b15b, 0 3px 5px rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 #16b15b;
  }

</style>

<!-- Basic section markup -->
<section class="section">
  <header class="section-header">
    <h2 class="section-title">Descrierea jobului</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>Fordaq International caută oameni experimentați pentru un proiect de procesare a imaginilor ce implică recunoașterea modelelor, detectarea marginilor, histograme, procesare euristică și/sau neural nets. Avem nevoie de o persoană experimentată să lucreze la dezvoltarea și implementarea unui algoritm pentru recunoașterea modelelor dreptunghiulare.</p>
      <p>Acest proiect poate reprezenta o provocare și vei avea ocazia să faci cercetare pentru a putea crea algoritmi optimi de procesare a imaginii în colaborare cu oameni de știință de top. Candidatul ideal trebuie să aibă studii superioare în matematică și calculatoare. De asemenea, candidatul trebuie să cunoască Matlab pentru implementare. Experiența cu grafici computerizate și algoritmi de procesare a imaginilor este un plus</p>
    </div>
  </div>
</section>

<!-- TODO -->
<!-- Section with Company social media -->

<section class="section">
  <header class="section-header">
    <h2 class="section-title">Beneficii</h2>
  </header>
  <div class="section-body">
    <div class="media leading">
      <div class="media-object">
        <img src="./description.png" alt="Procesarea imaginii">
      </div>
      <div class="media-caption">
      </div>
    </div>
    <p>Beneficiile includ: Training, posibilitatea de a participa la teambuilding, condiții foarte bune de lucru, asigurare medicală privată, bonusuri, pachet salarial atractiv. Cea mai apropiată stație de metrou este Victoriei - 2 minute mers pe jos. Compania suportă, de asemenea, diverse certificări pentru dezvoltare profesională</p>
  </div>
</section>

<!-- Section with technologies -->
<!-- To add a technology check _data/tech.yml -->
<section class="section">
  <header class="section-header">
    <h2 class="section-title">Tehnologii folosite</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <ul class="list-inline align-center leading">
        <li>{% include tech-thumb.html tech='java' %}</li>
        <li>{% include tech-thumb.html tech='matlab' %}</li>
        <li>{% include tech-thumb.html tech='cplusplus' %}</li>
    </div>
  </div>
</section>

