<div class="site-banner">
  <div class="page-container">

    <h1 class="site-title">Junio Summerjobs</h1>

    <a href="{{ '/' | site.baseurl }}"
       class="summer-logo"
       title="Prima pagină">
      <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ site.static }}/img/summer-logo.png" alt="Summerjobs"
           width="540" height="auto">
    </a>


    <div class="site-banner-copy">
      <!-- <p class="site-description">{{ site.descriptionHTML }}</p> -->
      <a class="btn btn-cta"
         href="{{ '/joburi.html' | prepend: site.baseurl  }}" onclick="goog_report_conversion()">Vezi joburi</a>
    </div>

  </div>
</div>
