{% assign jobs=include.jobs %}

<section class="section section-jobs">
  {% comment %}
    <header class="section-header">
      <h2 class="section-title">Joburi</h2>
    </header>
  {% endcomment %}
  <div class="section-body">
    <div class="row">
      <div class="col-md-4">
        <h4>
          <a href="{{ company.url }}">
            <img src="logo-company-alt.png" alt="{{ company.name }}" style="height: 2em; width: auto;">
            {{ page.company.name }}
          </a>
        </h4>
        <p>{{ page.company.description }}</p>
        <p><a href="{{ page.company.website }}">{{ page.company.website }}</a></p>
      </div>
      <div class="col-md-8">
        <div class="listing listing-jobs">
          {% comment %}
            <header class="listing-header">
              Numarul de joburi {{ jobs.size }}
            </header>
          {% endcomment %}
          <ul class="listing-body">
            {% for JOB in jobs %}
            <li>
              {% assign jobId = JOB[0] %}
              {% assign job = JOB[1]  %}
              <a href="{{ job.page.url }}">
                <h4>{{ job.title }}</h4>
                {{ job.page.content|strip_html|truncate: 144, '&hellip;' }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
