{% assign jobs=include.jobs %}

<div class="listing">
  
  <div class="listing-body">
    <span>{{jobs}}</span>
    {% for JOB in jobs %}
      {% assign jobId = JOB[0] %}
      {% assign job = JOB[1]  %}
      <span>{{JOB[1].status}}</span>
      <span>{{JOB[1].weight}}</span>
      <div class="listing-items">
        
        <div id="{{ jobId }}" class="job snippet">
          <!-- {% if job.thumbnail %}
            <div class="job-thumbnail">
              <img src="{{ job.thumbnail }}" alt="{{ job.title }}">
            </div>
          {% endif %} -->
          <h4 class="job-title">
            <a href="{{ job.page.url }}">{{ job.title }}</a>
          </h4>
          <p class="job-description">{{ job.description }}</p>
        </div>

      </div>
    {% endfor %}
  </div>
  
</div>
