{% assign jobs=include.jobs %}

<section class="section section-jobs">
  {% comment %}
    <header class="section-header">
      <h2 class="section-title">Joburi</h2>
    </header>
  {% endcomment %}
  <div class="section-body">
    <div class="row">
      <div class="col-md-4">
        <h4>
          <a href="{{ company.url }}" target="_blank">
            <img class="logo-company" src="logo-company-alt.png" alt="{{ company.name }}">
            {{ page.company.name }}
          </a>
        </h4>
        <p>{{ page.company.description }}</p>
        <p><a href="{{ page.company.website }}">{{ page.company.website }}</a></p>
      </div>
      {% for JOB in jobs %}
        {% assign jobId = JOB[0] %}
        {% assign job = JOB[1]  %}
        <div class="col-md-4">
          <a class="job-card" href="{{ job.page.url }}" title="{{ job.title }}">
            <div class="job-card-body job-card-body-splash">
              <img class="job-thumbnail" src="{{ job.thumbnail }}" alt="{{ job.title }}">
              <div class="job-meta">
                <span class="h6 job-category">Category</span>
                <h4 class="job-title"><span>{{ job.title }}</span></h4>
              </div>
            </div>
            <div class="job-card-body job-card-body-preview">
              <h4 class="job-title">{{ job.title }}</h4>
              <p class="job-description">{{ job.description }}</p>
              <div class="job-meta">
                <div class="job-location">București</div>
                <div class="job-revenue"><em>€350</em>/lună</div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
      {% comment %}
      <div class="col-md-8">
        <div class="listing listing-jobs">
          {% comment %}
            <header class="listing-header">
              Numarul de joburi {{ jobs.size }}
            </header>
          {% endcomment %}
          <ul class="listing-body">
            {% for JOB in jobs %}
              <li>
                {% assign jobId = JOB[0] %}
                {% assign job = JOB[1]  %}
                <a class="job-item" href="{{ job.page.url }}">
                  {% if job.thumbnail %}
                    <img class="job-thumbnail" src="{{ job.thumbnail }}" alt="{{ job.title }}">
                  {% endif %}
                  <h4 class="job-title">{{ job.title }}</h4>
                  <p class="job-description">{{ job.description }}</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endcomment %}
    </div>
  </div>
</section>
