
<div class="page-container">
  <nav class="nav">
    <div class="nav-header leading-large">
      <a class="large" href="mailto:suport@junio.ro">suport@junio.ro</a>
    </div>
    
    <div class="nav-group align-right">
      <h6 class="nav-group-title">Pentru Studenți</h6>
      <ul class="nav-items">
        <li>
          <a href="{{ 'joburi' | prepend: site.baseurl }}">Joburi</a>
        </li>
        <li>
          <a href="{{ 'pentru-studenti.html#cum-pot-sa-aplic' | prepend: site.baseurl }}">Cum pot să aplic?</a>
        </li>
        <li>
          <a href="{{ 'pentru-studenti.html' | prepend: site.baseurl }}">Mai multe</a>
        </li>
      </ul>
    </div>
    <div class="nav-group align-left">
      <h6 class="nav-group-title">Pentru Companii</h6>
      <ul class="nav-items">
        <li>
          <a href="{{ 'pentru-companii.html#cum-adaug-un-job' | prepend: site.baseurl }}">Cum adaug un job?</a>
        </li>
        <li>
          <a href="{{ 'pentru-companii.html#pachetul' | prepend: site.baseurl }}">Ce include pachetul?</a>
        </li>
        <li>
          <a href="{{ 'pentru-companii.html#cost' | prepend: site.baseurl }}">Cât costă?</a>
        </li>
      </ul>
    </div>
    <div class="nav-footer">
      <div class="leading-small">
        <a href="#">La începutul paginii</a>
      </div>
      <a href="{{ site.baseurl }}">Prima pagină</a>
    </div>
  </nav>
</div>
