
<div class="page-container">
  <nav class="nav">
    <div class="nav-header leading-large">
      <a class="large" href="mailto:suport@junio.ro">suport@junio.ro</a>
    </div>
    
    <div class="nav-group align-right">
      <h6 class="nav-group-title">Pentru Studenți</h6>
      <ul class="nav-items">
        <li>
          <a href="{{ '/joburi.html' | prepend: site.baseurl  }}" onclick="goog_report_conversion()" tabindex="100">Joburi</a>
        </li>
        <li>
          <a href="{{ '/pentru-studenti.html#cum-pot-sa-aplic' | prepend: site.baseurl  }}" tabindex="100">Cum pot să aplic?</a>
        </li>
        <li>
          <a href="{{ '/pentru-studenti.html' | prepend: site.baseurl  }}" tabindex="100">Mai multe</a>
        </li>
      </ul>
    </div>
    <div class="nav-group align-left">
      <h6 class="nav-group-title">Pentru Companii</h6>
      <ul class="nav-items">
        <li>
          <a href="{{ '/pentru-companii.html#cum-adaug-un-job' | prepend: site.baseurl  }}" tabindex="100">Cum adaug un job?</a>
        </li>
        <li>
          <a href="{{ '/pentru-companii.html#pachetul' | prepend: site.baseurl  }}" tabindex="100">Ce include pachetul?</a>
        </li>
        <li>
          <a href="{{ '/pentru-companii.html#cost' | prepend: site.baseurl  }}" tabindex="100">Cât costă?</a>
        </li>
      </ul>
    </div>
    <div class="nav-footer">
      <div class="leading-small">
        <a href="#" tabindex="100">La începutul paginii</a>
      </div>
      <a href="{{ '/' | prepend: site.baseurl }}" tabindex="100">Prima pagină</a>
    </div>
  </nav>
</div>
