
<div class="page-container">
  <nav class="nav nav-global">
    <ul class="nav-items">
      <li>
        <a href="{{ '/' | prepend: site.baseurl }}"
           title="Prima pagină" tabindex="10">Junio Summerjobs</a>
      </li>
      <li>
        <a href="{{ '/joburi.html' | prepend: site.baseurl  }}" onclick="goog_report_conversion()" tabindex="10">Joburi</a>
      </li>
      <li>
        <a href="{{ '/pentru-studenti.html' | prepend: site.baseurl  }}" tabindex="10">Studenți</a>
      </li>
      <li>
        <a href="{{ '/pentru-companii.html' | prepend: site.baseurl  }}" tabindex="10">Companii</a>
      </li>
      <li>
        <a href="mailto:suport@junio.ro" tabindex="10">suport@junio.ro</a>
      </li>
    </ul>
  
  </nav>
</div>
