
<div class="page-container">

  <nav class="nav nav-global">
    <ul class="nav-items">
      <li>
        <a href="{{ site.baseurl }}"
           title="Prima pagină">Junio Summerjobs</a>
      </li>
      <li>
        <a href="{{ 'joburi' | prepend: site.baseurl }}">Joburi</a>
      </li>
      <li>
        <a href="{{ 'pentru-studenti.html' | prepend: site.baseurl }}">Studenți</a>
      </li>
      <li>
        <a href="{{ 'pentru-companii.html' | prepend: site.baseurl }}">Companii</a>
      </li>
      <li>
        <a href="mailto:suport@junio.ro">suport@junio.ro</a>
      </li>
    </ul>
  
  </nav>
</div>
