
<div onclick="document.location='{{include.job.page.url}}'" id="{{ jobId }}" class="job snippet is-{{ include.job.status }}" tabindex="20">
  {% if include.job.thumbnail %}
  <div class="job-thumbnail">
    <img src="{{ company.page.dir }}{{ include.job.thumbnail }}"
         alt="{{ include.job.title }}">
  </div>
  {% endif %}
  <h4 class="job-title">
    <a href="{{ include.job.page.url }}" title="Detalii despre job">{{ include.job.title }}</a>
  </h4>
  {% if include.job.status == "closed" %}
  <span class="label-closed">S-a dat :)</span>
  {% endif %}
  <p class="job-description">{{ include.job.description }}</p>
  <div class="job-date">Publicat pe {{ include.job.date | humanday }}</div>
</div>

