<div id="{{ jobId }}" class="job snippet is-{{ include.job.status }}">
  {% if include.job.thumbnail %}
  <div class="job-thumbnail">
    <img class="b-lazy" src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== data-src="{{ company.page.dir }}{{ include.job.thumbnail }}"
         alt="{{ include.job.title }}">
  </div>
  {% endif %}
  <h4 class="job-title">
    <a href="{{ include.job.page.url }}" title="Detalii despre job">{{ include.job.title }}</a>
  </h4>
  <p class="job-description">{{ include.job.description }}</p>
  <div class="job-date">Publicat pe {{ include.job.date | humanday }}</div>
</div>
