---
job:
  title: 'Intern Software Research&Testing'
  description: > # this means to ignore newlines until "department:"
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis fugit, excepturi nam harum! Incidunt aliquam sit repellendus. Incidunt doloremque voluptatem minus et, adipisci error commodi aspernatur fugiat consectetur! Facilis, laboriosam!
  department: 'IT Telecom'  
  applyURL: 'xxx' # the url from the corresponding job in Junio.ro
---

<!-- Customize page here -->
<!-- Delete <style> to see default -->
<style>
  
  .job-header {
    /* change header background */
    background: #222;
    color: #fff;
  }

  .job-title,
  .job-domain,
  .job-company {
    color: inherit;
  }

</style>


<!-- Basic section markup -->
<section class="section">
  <header class="section-header">
    <h2 class="section-title">Our mission</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>ANRITSU Solutions Romania is a subsidiary of Anritsu Corporation based in Atsugi, Japan. Recognized as a Tier One provider of communications solutions for 120 years, Anritsu has become a global leader in the telecommunications, optical and wireless industries by providing diverse product offerings ranging from test and measurement solutions to high-speed devices and components for use in R&amp;D, production, and maintenance. </p>
      <p>Our team in Bucharest office delivers development and quality assurance services for MasterClaw - the flagship product of Anritsu’s OSS portfolio. Anritsu’s probe-based non-intrusive monitoring system is designed to provide full e2e monitoring of converged networks, being the leading service and network monitoring system for GSM, GPRS, UMTS, SS7 and VoIP networks.</p>
    </div>
  </div>
</section>

<!-- TODO -->
<!-- Section with Company social media -->


<section class="section">
  <header class="section-header">
    <h2 class="section-title">What we need </h2>
  </header>
  <div class="section-body">
    <div class="media leading">
      <div class="media-object">
        <img src="https://gwdata.cdn-anritsu.com/images/corporate/support/common/ctgy-bnr-support-tm.jpg" alt="Alt as well. Anything.">
      </div>
      <div class="media-caption">
        Optional Caption
      </div>
    </div>
    <p>develop and improve test automation framework, scripting (Python, bash), prospect the available tools on the market (Selenium, Squish) </p>
    <p>analyse the possibilities to execute automatic testing for java/web based application, propose and implement automatic test scenarios for MasterClaw monitoring application</p>
    <p>automated/manual protocol testing (2G, 3G, 4G, SIP/RTP, VoWIFI)</p>
    <p>test/analyse algorithms fort real time streaming analytics (SIRCA algorithms on various data streams related to telecommunication signaling protocols, Apache ecosystem – Zookeper, Storm, Netty, Hadoop)</p>
    <p>infrastructure monitoring extension</p>
  </div>
</section>

<!-- Section with technologies -->
<!-- To add a technology check _data/tech.yml -->
<section class="section">
  <header class="section-header">
    <h2 class="section-title">Technologies we use</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <ul class="list-inline align-center leading">
        <li>{% include tech-thumb.html tech='amazon' %}</li>
        <li>{% include tech-thumb.html tech='django' %}</li>
        <li>{% include tech-thumb.html tech='git' %}</li>
        <li>{% include tech-thumb.html tech='postgresql' %}</li>
        <li>{% include tech-thumb.html tech='sentry' %}</li>
        <li>{% include tech-thumb.html tech='slack' %}</li>
        <li>{% include tech-thumb.html tech='vagrant' %}</li>
        <li>{% include tech-thumb.html tech='virtualbox' %}</li>
      </ul>
    </div>
  </div>
</section>


<!-- Section with teammate cards -->
<!-- Teammate description and position are optional -->
<section class="section">
  <header class="section-header">
    <h2 class="section-title">Section with teammate cards</h2>
  </header>
  <div class="section-body">
    <div class="leading align-center">
      <ul class="list-inline">
        <li>
          {% include teammate.html
                     name='Usain'
                     photo='usain.jpg'
                     position='First'
                     description="Bolt can't be his real name" %}
        </li>
        <li>
          {% include teammate.html
                     name='Rihanna'
                     photo='rihanna.png'
                     position='Singer'
                     description='This girl is on fire' %}
        </li>
      </ul>
    </div>
  </div>
</section>


<!-- Section with map -->
<section class="section">
  <header class="section-header">
    <h2 class="section-title">Section with map</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>You can find us at the following address: Piața Montreal 10, Bucharest, Romania</p>
    </div>
    <div class="section-media">
      <div class="map-container">
        <div id="map-canvas" data-address="{{ page.company.address }}"></div>
      </div>
    </div>
  </div>
</section>
