---
job:
    title: 'UI/UX Developer Internship'
    description: >
        Poziția de UI/UX Developer presupune, pe lângă lucrul la partea de frontend a soluțiilor noastre, și păstrarea unei atitudini orientate utilizator, pentru corectarea din timp a eventualelor probleme de interacțiune.
    department: 'Enterprise User Experience'
    category: 'Software'
    applyUrl: 'https://junio.ro/jobs/i-ittelecom-j-uiux-developer-internship-c-bitdefender-35118'
    date: 2016-05-16

useLogoAlt: true
---

<!-- Customize page here -->
<!-- Delete <style> to see default -->
<style>

    .job-header {
        /* change header background */
        background: #ED1C24;
        color: #fff;
    }

    .job-title,
    .job-domain,
    .job-company {
        color: inherit;
    }

    .btn-apply {
        color: #fff;
        background-color: #21c374;
        background-image: linear-gradient(#16b15b, #21c374);
        box-shadow: 0 3px 0 #16b15b, 0 3px 5px rgba(0, 0, 0, 0.25);
        text-shadow: 0 -1px 0 #16b15b;
    }

</style>

<!-- Basic section markup -->
<section class="section">
    <header class="section-header">
        <h2 class="section-title">Descriere sumară</h2>
    </header>
    <div class="section-body">
        <div class="section-copy">
            <p>
                Poziția de UI/UX Developer presupune, pe lângă lucrul la partea de frontend a soluțiilor noastre, și
                păstrarea unei atitudini orientate utilizator, pentru corectarea din timp a eventualelor probleme de
                interacțiune. Prin urmare, prima lună te vom ajuta să înveți să îți structurezi ideile într-un mod cât
                mai organizat, optim și corect. Ne vom asigura că vei învăța să îți formezi o viziune cât mai clară
                asupra problemei pe care dorești să o rezolvi înainte să te apuci de ‘redactare’. Codarea se bazează în
                special pe partea de Javascript dar vei folosi des și HTML/CSS pentru a complementa comportamentul pe
                care vrei să îl implementezi.
            </p>
            <p>
                Zi de zi vom lucra împreună să găsim soluții pentru diversele probleme pe care le vom întâmpina, să
                implementăm design-ul la un nivel pixel perfect și să punem cap la cap o experiență cât mai placută și
                mai simplă pentru utilizator.
            </p>
        </div>
    </div>
</section>
<section class="section">
    <header class="section-header">
        <h2 class="section-title">Interviul</h2>
    </header>
    <div class="section-body">
        <div class="section-copy">
            <p>
                Dorim să fim uniți și să ne facem treaba cât mai bine, așa că avem mare grijă la persoanele pe care le
                integrăm în echipa noastră. Procesul de selecție va fi riguros și factorul de comunicare este esențial
                întrucât fiecare intern Bitdefender are șansa să își continue colaborarea ca și angajat. Interviul este
                format din două etape distincte, un interviu la sediul nostru în care să te cunoaștem, să îți vedem
                determinarea și nivelul de cunoștințe, care e imediat precedat un mic exercițiu tehnic în care să
                stabilim capacitatea ta de gândire și analiză.
            <p>
                Deși o poziție de internship, necesită o înțelegere de bază a tehnologiilor web, întelegere pe care o
                poți
                capătă și de la cursuri, atât timp cât ai acordat destulă atenție acestora.
            </p>
            <p>
                Vom lua în considerare atenția ta la detalii, dorința de afirmare, creativitatea și adaptabilitatea la
                diverse situații, iar răspunsul îl primești în decurs de cel mult o săptamână de la interviu.
            </p>
        </div>
    </div>
</section>
<section class="section">
    <header class="section-header">
        <h2 class="section-title">Informații esențiale despre job</h2>
    </header>
    <div class="section-body">
        <div class="section-copy">
            <h5>Ce fel de sarcini va avea candidatul?</h5>
            <p>
                De la implementarea de feature-uri noi, la corectarea comportamentelor pe diferite componente, la înțelegerea funcționalității diferitelor feature și produse. Totul făcut ca la carte așa cum ai lucra în orice altă companie. Îți vom oferi o experiență completă de producție din care îți vom explica fiecare etapă.
            </p>
            <h5>giCât din timp îi este alocat trainingului?</h5>
            <p>
                Prima lună este alocată training-ului pentru a ridica nivelul de cunoștințe al intern-ului până la capacitatea de a înțelege code base-ul din produsele noastre.
            </p>
            <h5>Face parte dintr-un workflow?</h5>
            <p>
                Orice membru al echipei de UX participă într-un mod direct în workflow-ul unuia din proiectele active, în continuare, după perioada de training vom acorda posibilitatea de a lucra cot la cot în mediul de producție cu toți membrii echipei.
            </p>
            <h5>Participă la sedințe?</h5>
            <p>
                Se participă atât la daily meeting cât și la orice sedință care afectează proiectul la care lucrează pentru a înțelege workflow-ul și etapele de dezvoltare în întregime.
            </p>
        </div>
    </div>
</section>

<!-- TODO -->
<!-- Section with Company social media -->

<section class="section">
    <header class="section-header">
        <h2 class="section-title">Beneficii</h2>
    </header>
    <div class="section-body">
        <div class="section-copy">
            <p>
                Te vei acomoda instant cu atmosfera prietenoasă de la birou, vei avea plăcerea de a lucra cu tineri
                pasionați de munca lor și vei avea șansa să înveți de la ei o mulțime de lucruri. Ne strângem la ora 10,
                stăm la povești să vedem ce am făcut și ce vom face în ziua curentă, ne petrecem timpul împreună la masă
                sau în camera de recreere unde dezbatem idei și râdem, râdem mult :). Micile plăceri sunt coșul de
                fructe din fiecare marți, apa și cafeaua la discreție iar pentru sănătatea mintală, un cont bookster de
                unde
                putem împrumuta cărti pentru a ne satisface setea de citit.
            </p>
            <p>
                Te inițiem în tainele foosball-ului sau jucăm un ping-pong, ne antrenăm în challenge-uri de User
                Experience și nu numai. Suntem alături de tine cu sfaturi pentru orice situație pentru ca, mai presus de
                orice, suntem o echipa.
            </p>
        </div>
    </div>
</section>

<!-- Section with technologies -->
<!-- To add a technology check _data/tech.yml -->
<section class="section">
    <header class="section-header">
        <h2 class="section-title">Tehnologii utilizate</h2>
    </header>
    <div class="section-body">
        <div class="section-copy">
            <div class="align-center leading">
                <ul class="list-inline">
                    <li>{% include tech-thumb.html tech='html' %}</li>
                    <li>{% include tech-thumb.html tech='css' %}</li>
                    <li>{% include tech-thumb.html tech='javascript' %}</li>
                    <li>{% include tech-thumb.html tech='sass' %}</li>
                    <li>{% include tech-thumb.html tech='sciter' %}</li>
                    <li>{% include tech-thumb.html tech='photoshop' %}</li>
                    <li>{% include tech-thumb.html tech='tortoise' %}</li>
                    <li>{% include tech-thumb.html tech='jira' %}</li>
                    <li>{% include tech-thumb.html tech='confluence' %}</li>
                    <li>{% include tech-thumb.html tech='php' %}</li>
                    <li>{% include tech-thumb.html tech='nodejs' %}</li>
                    <li>{% include tech-thumb.html tech='mongodb' %}</li>
                    <li>{% include tech-thumb.html tech='mercurial' %}</li>
                    <li>{% include tech-thumb.html tech='virtualbox' %}</li>
                    <li>{% include tech-thumb.html tech='vagrant' %}</li>
                </ul>
            </div>
            <p class="align-center">
                În funcție de necesitățile apărute, tehnologiile variază de la proiect la proiect, pe scurt va
                interacționa sigur cu: HTML5, CSS3, Javascript, SASS, Sciter, Adobe Photoshop, Adobe Illustrator,
                TortoiseSVN, Jira, Confluence, și în funcție de proiect poate interacționa și cu Php, NodeJS, Vagrant,
                VirtualBox, MongoDB, Mercurial, Jira. Baza dezvoltării este desigur HMTL/CSS/Javascript dar toate
                tehnologiile menționate mai sus sunt într-un fel sau altul implicate în procesul de producție.
            </p>
        </div>
    </div>
</section>

<!-- Section with teammate cards -->
<!-- Teammate description and position are optional -->
<div class="section">
    <header class="section-header">
        <h2 class="section-title">Descrierea echipei</h2>
    </header>
    <div class="section-body">
        <div class="section-copy">
            <p>
                Suntem o echipă mică ce reprezintă un punct de pivotare pentru întreaga producție de enterprise și asta
                e bestial. Indiferent de tipul produsului, acesta ajunge și pe la noi pentru a stabili look & feel-ul, și
                nu numai. Suntem glumeți din fire deci doza zilnică de râs nu lipsește niciodată. Mai presus decât
                orice, fiecare din noi iși dorește să ajungă în topul oamenilor de specialitate și suntem în continuă
                căutare de provocări.
            </p>
        </div>
        <div class="section-copy align-center">
            <ul class="list-inline">
                <li>
                    <p><strong>Aleodor</strong> - UI/UX Manager</p>
                </li>
                <li>
                    <p><strong>Tudor</strong> - UI/UX Designer</p>
                </li>
                <li>
                    <p><strong>Mădălina</strong> - UI/UX Developer</p>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>

<!-- Section with map -->
<section class="section">
    <header class="section-header">
        <h2 class="section-title">Descrierea zonei</h2>
    </header>
    <div class="section-body">
        <div class="section-copy">
            <p>Biroul nostru se află la 10 minute de mers pe jos de la metrou, stația Piata Muncii pe Strada Delea Veche
                24, Cladirea A, Sector 2, București.Stăm la etajul 12 și
                avem o priveliște deosebită asupra orașului. Avem birouri colorate și oameni veseli și entuziasmati care
                îți dau chef de muncă zi de zi.</p>
            <p>
                Ne răsfățăm cu mâncare chinezească, turcească, ca la mama acasă sau ieftină și bună de la Papillon . La
                Papillon găsim și cele mai bune clătite cu ciocolată sau înghețată cu aromă de bubble-gum. Daca plouă,
                în pauza de masă, ne refugiem la cafeneaua de jos și privim melancolici afară, consolându-ne cu
                ciocolată caldă ca la bunica.
            </p>
        </div>
        <div class="section-media">
            <div class="map-container">
                <div id="map-canvas" data-address="{{ page.company.address }}"></div>
            </div>
        </div>
    </div>
</section>
