.tech-thumb {
  text-align: center;
  width: 100px;
  line-height: 1;
  .sprite-tech {
    .utils > .center;
    display: block;
  }
  .tech-thumb-title {
    font-size: @smaller;
  }
}

.center {
  .utils > .center;
}
