---
job:
  title: 'Front-End Developer'
  description: >
    This position provides ample opportunity to expand web development skills under direction of professional staff and developers
  category: 'Software'
  thumbnail: 'job-thumbnail.jpg'
  applyUrl: 'https://junio.ro/jobs/i-ittelecom-j-front-end-developer-airtouch-c-airtouch-new-media-04734'
  date: 2016-05-20
---

<!-- Customize page here -->
<!-- Delete <style> to see default -->
<style>

  .job-header {
    background-color:#000;
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("company-airtouch-cover-desktop.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position: right center;
    color:#fff;
  }


  .job-company strong{
    visibility: hidden;
    position: absolute;
  }
  .job-title,
  .job-domain
  {
    color: inherit;
  }

  .btn-apply {
    color: #fff;
    background-color: #21c374;
    background-image: linear-gradient(#16b15b, #21c374);
    box-shadow: 0 3px 0 #16b15b, 0 3px 5px rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 #16b15b;
  }

</style>

<!-- Basic section markup -->
<section class="section">
  <header class="section-header">
    <h2 class="section-title">Responsibilities</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <ul>
        <li>Translate UI/UX design wireframes to actual code that will produce visual elements of the application;</li>
        <li> Writing semantic, modular front-end code using HTML5, CSS3, and W3C coding practices (must-have);</li>
        <li> Build reusable CSS, jQuery and Javascript code;</li>
        <li> Basic experience with server-side CSS pre-processing platforms, such as LESS and SASS;</li>
        <li> Create cascading style sheets (CSS) that are consistent across all browsers and platforms;</li>
        <li>Familiarity with browser testing and debugging;</li>
        <li> Basic understanding of OOP;</li>
        <li> Contributions to OpenSource projects on GitHub is a plus;</li>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <header class="section-header">
    <h2 class="section-title">Would be nice</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <ul>
        <li>If you have experience, interest in front-end frameworks (angularJS, reactJS, etc);</li>
        <li>If you have a portfolio with your current work;</li>
        <li>Experience with CMS Platforms is considered a plus: Magento, PrestaShop, Wordpress, Drupal;</li>
      </ul>
    </div>
  </div>
</section>
<!-- TODO -->
<!-- Section with Company social media -->

<section class="section">
  <header class="section-header">
    <h2 class="section-title">Benefits</h2>
  </header>
  <div class="section-body">
    <div class="media leading">
      <div class="media-object">
        <img src="job-image.png" alt="Job image">
      </div>
    </div>
    <p>Life at ATNM can be described as the following:</p>
    <ul>
      <li>Work with other smart, ambitious people who are passionate about technology;</li>
      <li>A fun startup environment;</li>
      <li>Opportunity for personal and professional growth through a variety of projects (you won't be doing the same thing every day);</li>
      <li>This position provides ample opportunity to expand web development skills under direction of professional staff and developers.</li>
    </ul>
  </div>
</section>

<!-- Section with technologies -->
<!-- To add a technology check _data/tech.yml -->
<section class="section">
  <header class="section-header">
    <h2 class="section-title">Technologies used:</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <div class="align-center leading">
        <ul class="list-inline tech">
          <!--<li>{% include tech-thumb.html tech='angularjs' %}</li>-->
          <li>{% include tech-thumb.html tech='js' %}</li>
          <!--<li>{% include tech-thumb.html tech='magento' %}</li>-->
          <li>{% include tech-thumb.html tech='html' %}</li>
          <!--<li>{% include tech-thumb.html tech='jquery' %}</li>-->
          <li>{% include tech-thumb.html tech='css' %}</li>
          <!--<li>{% include tech-thumb.html tech='wordpress' %}</li>-->
          <!--<li>{% include tech-thumb.html tech='drupal' %}</li>-->
          <li>{% include tech-thumb.html tech='php' %}</li>
        </ul>
      </div>
    </div>
  </div>
</section>


<!-- Section with map -->
<section class="section">
  <header class="section-header">
    <h2 class="section-title">Location</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>Our office is located at Iuliu Maniu Bvd. 7, U, 5th floor, of 11, 061102 Bucharest, Romania</p>
    </div>
    <div class="section-media">
      <div class="map-container">
        <div id="map-canvas" data-address="{{ page.company.address }}"></div>
      </div>
    </div>
  </div>
</section>
