---
job:
  title: 'Junior Software Developer'
  description: >
    AGVision Software is searching for dedicated Junior PHP Software Developers to join our team in Developing our CRO (conversion rate optimization) platform for the global eCommerce market. We also have ongoing successful partnerships in delivering Software for the Norwegian and Dutch market.
  department: 'IT/Telecom'
  category: 'Software'
  applyUrl: 'https://junio.ro/jobs/i-ittelecom-j-junior-software-developer-c-agvision-software-77375' # the url from the corresponding job in Junio.ro
  date: 2016-05-28
  
useLogoAlt: true # uses dark bg version of logo. delete entirely to remove
---

<!-- Customize page here -->
<!-- Delete <style> to see default -->
<style>

  .job-header {
    background-color:#000;
    background: url("company-agvision-cover-desktop.jpg");
    color:#fff;
    background-size:cover;
    background-position: top;
  }

  .job-title,
  .job-domain,
  .job-company {
    color: inherit;
  }

  .btn-apply {
    color: #fff;
    background-color: #21c374;
    background-image: linear-gradient(#16b15b, #21c374);
    box-shadow: 0 3px 0 #16b15b, 0 3px 5px rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 #16b15b;
  }

</style>

<!-- Basic section markup -->
<section class="section">
  <header class="section-header">
    <h2 class="section-title">Responsibilities</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>You:</p>
      <ul>
        <li>have a passion for Software Development and an absolute hunger for knowledge and building a career;</li>
        <li>have a Bachelors Degree (or student), preferably in Computer Science, Engineering or Cybernetics;</li>
        <li>can show an interesting experience with PHP;</li>
        <li>have a good understanding of OOP concepts;</li>
        <li>have some knowledge of MVC architecture: Laravel;</li>
        <li>have a good understanding of SQL (MySQL or noSQL such as MongoDB).</li>
      </ul>
      <p>You'd be the "awesomest" if you’re also good with any of the following technologies (but don't worry, we'll teach you if not):</p>
      <ul>
        <li>NodeJS;</li>
        <li>understanding of MV* JavaScript: Vue.js, AngularJS;</li>
        <li>Git workflow;</li>
        <li>server management: basics of NGINX on Ubuntu;</li>
        <li>virtualization: Vagrant or Docker;</li>
        <li>frontend and build tools: SASS, Gulp, etc.</li>
        <li>caching: Memcached or Redis.</li>
      </ul>
    </div>
  </div>
</section>

<!-- Section with technologies -->
<!-- To add a technology check _data/tech.yml -->
<section class="section">
  <header class="section-header">
    <h2 class="section-title">Technologies used:</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <div class="align-center leading">
        <ul class="list-inline tech">
          <li>{% include tech-thumb.html tech='php' %}</li>
          <li>{% include tech-thumb.html tech='git' %}</li>
          <li>{% include tech-thumb.html tech='js' %}</li>
          <li>{% include tech-thumb.html tech='nodejs' %}</li>
          <li>{% include tech-thumb.html tech='sql' %}</li>
          <li>{% include tech-thumb.html tech='vagrant' %}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <header class="section-header">
    <h2 class="section-title">Qualifications</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>Your challenge will be working on our customer optimization and knowledge algorithms based on Big Data. You'll
        certainly have a voice in our team and our projects will also clearly have your personal signature.</p>
      <p>You'll be joining our mission to build a truly professional and pleasant work environment for Software
        Developers who are interested in working in a young and dedicated team which is not constrained by bureaucratic
        mindsets, pompous titles and rigid schedules. You'll have no bosses, you won't attend boring meetings and you
        certainly won't write any dull reports. Our whole company was started and built solely on the work and
        dedication of our initial team member</p>
      <p>
        In case we're a good match, you won't be coming to interview, you'll be coming in for a pleasant discussion
        between us.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <header class="section-header">
    <h2 class="section-title">Benefits</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>You'll be receiving the following benefits:</p>
      <ul>
        <li>flexible schedule. We realize you'll be needing time to wrap up our studies and we strongly encourage that. We also have Work From Home days;</li>
        <li>meal tickets, private medical insurance;</li>
        <li>office goodies: PS4 (Guitar Hero, FIFA 16), boardgame nights, outings. Cake Friday Healthy snacks, smoothies, ice-cream, coffee and tea at your discretion, not to mention music !</li>
        <li>access to all latest devices (smartphones, tablets, laptops) you need;</li>
        <li>central office location (Unirii Square).</li>
      </ul>
    </div>
  </div>
</section>
<!-- Section with map -->
<section class="section">
  <header class="section-header">
    <h2 class="section-title">Location</h2>
  </header>
  <div class="section-body">
    <div class="section-media">
      <div class="map-container">
        <div id="map-canvas" data-address="{{ page.company.address }}"></div>
      </div>
    </div>
  </div>
</section>
