.listing {

}

.listing-header {
  margin-bottom: @leading;
}

.listing-title {
  display: inline-block;
  margin-bottom: 0;
}

.listing-items {
  .utils > .no-list;
}

.listing-items,
.listing-item {
  margin: @leading 0;
}

.listing-footer {
  margin-top: @leading;
}
