.sprite-tech {
  .utils > .square(72px);
  display: inline-block;
  background: url('@{path-images}/sprite-tech.png') no-repeat top left;
}

.sprite-amazon { background-position: 0 0; }
.sprite-codeship { background-position: -72px 0; }
.sprite-django { background-position: -144px 0; }
.sprite-git { background-position: -216px 0; }
.sprite-postgresql { background-position: -288px 0; }
.sprite-python { background-position: -360px 0; }
.sprite-sentry { background-position: -432px 0; }
.sprite-slack { background-position: -504px 0; }
.sprite-vagrant { background-position: -576px 0; }
.sprite-virtualbox { background-position: -648px 0; }
