.sprite-tech {
  .utils > .square(72px);
  display: inline-block;
  background: url('@{path-images}/sprite-tech.png') no-repeat top left;
}

.sprite-amazon { background-position: 0 0; }
.sprite-codeship { background-position: -72px 0; }
.sprite-django { background-position: -144px 0; }
.sprite-git { background-position: -216px 0; }
.sprite-postgresql { background-position: -288px 0; }
.sprite-python { background-position: -360px 0; }
.sprite-sentry { background-position: -432px 0; }
.sprite-slack { background-position: -504px 0; }
.sprite-vagrant { background-position: -576px 0; }
.sprite-virtualbox { background-position: -648px 0; }
.sprite-nodejs { background-position: -720px 0; }
.sprite-mongodb { background-position: -792px 0; }
.sprite-csharp { background-position: -864px 0; }
.sprite-sql { background-position: -936px 0; }
.sprite-linux { background-position: -1002px 0; }


.sprite-mercurial { background-position: 0 -72px }
.sprite-sciter { background-position: -72px -72px }
.sprite-sass { background-position: -144px -72px }
.sprite-confluence { background-position: -216px -72px }
.sprite-jira { background-position: -288px -72px }
.sprite-html { background-position: -360px -72px }
.sprite-css { background-position: -432px -72px }
.sprite-js { background-position: -504px -72px }
.sprite-php { background-position: -576px -72px }
.sprite-tortoisesvn { background-position: -648px -72px }
.sprite-photoshop { background-position: -720px -72px }
.sprite-illustrator { background-position: -792px -72px }
.sprite-java { background-position: -864px -72px }
.sprite-matlab { background-position: -936px -72px }
.sprite-cplusplus { background-position: -1002px -72px }







.sprite-partners {
  .utils > .square(90px);
  display: inline-block;
  background: url('@{path-images}/sprite-partners.jpg') top left no-repeat;
}

.sprite-asaff    { background-position: 0 0; }
.sprite-lse      { background-position: -90px 0; }
.sprite-lsac     { background-position: -180px 0; }
.sprite-sisc     { background-position: -270px 0; }
.sprite-ascig    { background-position: -360px 0; }
.sprite-asmi     { background-position: -450px 0; }

.sprite-universities{
  .utils>.square(96px);
  display:inline-block;
  background: url('@{path-images}/sprite-universities.png') top left no-repeat;
  vertical-align: middle;
}

.sprite-unibuc{ background-position: 0 0;}
.sprite-upb{background-position: -96px 0;}
.sprite-ase{background-position: -192px 0;}
.sprite-uaic{background-position: -288px 0}
.sprite-tuiasi{background-position: -384px 0}