---
job:
  title: 'Paid internship - Technical Support level 1'
  description: 'The Consumer Support Agent is the primary customer facing contact for Consumers (B2C).Primary responsibility is to help customers to solve technical issues (post sales) and to answer any questions about the features and capabilities of the products (pre-sales).'
  department: ''
  category: 'Software'
  thumbnail:
  applyUrl: 'https://junio.ro/login/?next=/jobs/i-ittelecom-j-paid-internship-technical-support-level-1-c-honeywell-46249'
  date: 2016-06-21
  
useLogoAlt: true # uses dark bg version of logo. delete entirely to remove
---

<!-- Customize page here -->
<!-- Delete <style> to see default -->
<style>

  .job-header {
    /* change header background */
    background: #222;
    color: #fff;
  }

  .job-title,
  .job-domain,
  .job-company {
    color: inherit;
  }

  .job-header .btn-apply {
    color: black;
    background-color: #ddd;
    background-image: linear-gradient(#ddd, #fff);
    box-shadow: 0 3px 0 #ddd, 0 3px 5px rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 #ddd;
  }
  .job-header .btn-apply:hover,
  .job-header .btn-apply:focus  {
    color:black;
  }

   .job-company strong {
visibility:hidden;
position:absolute;
  }

.job-header{
background-color:#DE1E34;

     }
    .job-title {
      color:white;
    }
    .job-date{
     color: white;
    }

    

</style>

<!-- Basic section markup -->
<section class="section">
  <header class="section-header">
    <h2 class="section-title">Summary description </h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>
        The Consumer Support Agent is the primary customer facing contact for Consumers (B2C). 
      </p>
      <p>
          Primary responsibility is to help customers to solve technical issues (post sales) and to answer any questions about the features and capabilities of the products (pre-sales).
        </p>
    </div>
  </div>
</section>




<section class="section">
  <header class="section-header">
    <h2 class="section-title">Job Description </h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>
       <ul>
        <li>Coverage of Technical Support Helpdesk (Hotline, mail, email, live-chat, social media coverage and web support)
        </li>
        <li> Provide pre- and post-sales technical assistance for customers: facilitating the identification, investigation, resolution, root cause analysis and replication of technical issues. Areas include, but are not limited to, configurations, installation procedures, application functionality, and other areas as related to system operations. 
        </li>
        <li>
          Timely resolution is of high importance. Support cases will have to be timely escalated when appropriate to Tier 2 and/or appropriate resource.
        </li>
        <li>Build relationships with customer base and become knowledgeable about the customer’s needs. If the question could not be answered within the initial contact, keep the customer updated on the status of reported problems. Communication with strong focus on customer service and solution quality 
        </li>
        <li>Support the knowledge-sharing mindset and apply the Knowledge Management Methodology (KCS) guidelines. Knowledge Base co-ownership requires ongoing efforts to continuously create and enhance solutions in the database. 
        </li>
        <li>Create, track and monitor CRM records for all incoming support requests. Keep CRM system updated with current information on the support case, related activities and resolution. 
        </li>
        <li>Maintain and extend product knowledge by self-study and by attending relevant training sessions
        </li>

       </ul>
      </p>
     



    </div>
  </div>
</section>






<section class="section">
  <header class="section-header">
    <h2 class="section-title"> Benefits</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
     
        
         <ul>
           <li>Competitive salary and an attractive benefits package</li>
          <li>Extensive training programs
          </li>
          <li>Career growth opportunities
          </li>
          <li>Experienced leaders to support your professional development
          </li>
          <li>Dynamic and international work environment
          </li>

         </ul>
        </p>
    </div>
  </div>
</section>




<!-- TODO -->
<!-- Section with Company social media -->

<section class="section">
  <header class="section-header">
    <h2 class="section-title">Interview</h2>
  </header>
  <div class="section-body">
    <div class="media leading">
      <div class="media-object">
        <img src="http://cdn1.businessmanagementdaily.com/res/images/bmd_homepage/iStock_InterviewQuestions_350.jpg" alt="Alt as well. Anything.">
      </div>
    </div>
   <ul>
      <li>1 step in the recruitment process
      <ul>
<li>Face to face interview</li>
<li>Written English Test</li>
      </ul>
  </li>
<li>Good level of English, customer focus, technical understanding, team work, proactive, able to work in a multicultural environment </li>
<li>We are interested in your GPA (Grade Point Average);</li>
<li>Feedback – 1 week </li>
   </ul>
  </div>
</section>

<!-- Section with technologies -->
<!-- To add a technology check _data/tech.yml -->
<!--section class="section">
  <header class="section-header">
    <h2 class="section-title">Section with technologies</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <div class="align-center leading">
        <ul class="list-inline tech">
          <li>{% include tech-thumb.html tech='amazon' %}</li>
          <li>{% include tech-thumb.html tech='codeship' %}</li>
          <li>{% include tech-thumb.html tech='django' %}</li>
          <li>{% include tech-thumb.html tech='git' %}</li>
          <li>{% include tech-thumb.html tech='postgresql' %}</li>
          <li>{% include tech-thumb.html tech='python' %}</li>
          <li>{% include tech-thumb.html tech='sentry' %}</li>
          <li>{% include tech-thumb.html tech='slack' %}</li>
          <li>{% include tech-thumb.html tech='vagrant' %}</li>
          <li>{% include tech-thumb.html tech='virtualbox' %}</li>
        </ul>
      </div>
      <p class="align-center">Should also contain at least one paragraph.</p>
    </div>
  </div>
</section-->

<!-- Section with teammate cards -->
<!-- Teammate description and position are optional -->
<!--section class="section">
  <header class="section-header">
    <h2 class="section-title">Section with teammate cards</h2>
  </header>
  <div class="section-body">
    <ul class="list-inline align-center">
      <li>
        {% include teammate.html
                   name='Usain'
                   photo='usain.jpg'
                   position='First'
                   description="Bolt can't be his real name" %}
      </li>
      <li>
        {% include teammate.html
                   name='Rihanna'
                   photo='rihanna.png'
                   position='Singer'
                   description='This girl is on fire' %}
      </li>
    </ul>
  </div>
</section-->

<!-- Section with map -->
<section class="section">
  <header class="section-header">
    <h2 class="section-title">Location</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>Pipera</p>
    </div>
    <div class="section-media">
      <div class="map-container">
        <div id="map-canvas" data-address="{{ page.company.address }}"></div>
      </div>
    </div>
  </div>
</section>
