<!DOCTYPE html>
<html lang="ro" class="page-company">
  <head>
    {% include head.html %}
    <meta name="title" content="{{ page.company.name }}|Summerjobs">
    <meta name="description" content="{{ page.company.description }}">
  </head>  

  <body>
    
    <header id="site-header">
      {% include header.html %}
    </header>

    <body id="site-body">
      
      <div class="page">

        {% assign company = page.company %}
        
        <main class="page-body">
    
          <div class="company full">
            <header class="company-header">
              <div class="page-container">
                <!-- <img src="" alt="{{ company.name }}"> -->

                {% if company.logo %}
                  {% assign logo = company.logo %}
                  {% if page.useLogoAlt and company.logoAlt %}
                    {% assign logo = company.logoAlt %}
                  {% endif %}
                  <span class="company-logo">
                    <img src="{{ logo }}" alt="Logo {{ company.name }}"
                         style="height: 4em; width: auto;">
                  </span>
                {% endif %}

                <h1 class="company-name">{{ company.name }}</h1>
                <p class="company-description">{{ company.description }}</p>
                <a class="company-website" href="{{ company.website }}">{{ company.website|split:"://"|last }}</a>
              </div>
            </header>

            <div class="company-body">
              <div class="page-container">

                {{ content }}

              </div>
            </div>
          </div>

        </main>

      </div>

    </body>

    <footer id="site-footer">
      {% include footer.html %}
    </footer>
    {% include scripts.html %}
  </body>
  
</html>
