<!DOCTYPE html>
<html lang="ro" class="page-company">
  <head>
    {% include head.html %}
    <meta name="description" content="{{ page.company.description }}">
  </head>  

  <body>
    
    <header id="site-header">
      
    </header>

    <body id="site-body">
      
      <div class="page">

        {% assign company = page.company %}
        
        <main class="page-body">
    
          <div class="company">
            <header class="company-header">
              <div class="page-container">
                <img src="" alt="{{ company.name }}">
                <h1 class="company-name">{{ company.name }}</h1>
              </div>
            </header>

            <div class="company-body">
              <div class="page-container">

                {{ content }}

              </div>
            </div>
          </div>

        </main>

      </div>

    </body>

    <footer id="site-footer">
      
    </footer>

  </body>
  
</html>
