<!DOCTYPE html>
<html lang="ro" class="{{ page.class | default:'page-default' }}">
  
  <head>
    {% include head.html %}

    {% if page.title %}
      {% capture title %}{{ page.title }} | Summerjobs{% endcapture %}
    {% else  %}
      {% assign title = 'Junio Summerjobs' %}
    {% endif %}

    <title>{{ title | }}</title>
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:image" content="{{ site.url }}/summer-cover.jpg">
    <meta name="description" content="{{ site.description }}">
  </head>

  <body>
    {% include top-bar.html %}
    <header id="site-header">
      {% include header.html %}
    </header>

    <div id="site-body">
      <div class="page">
        {{ content }}
      </div>
    </div>
    
    <footer id="site-footer">
      {% include footer.html %}
    </footer>

    {% include scripts.html %}
  </body>

</html>
