<!DOCTYPE html>
<html lang="ro" class="page-job">

  <head>
    {% include head.html %}
    <title>{{page.job.title}} @ {{page.job.company.name}} | Summerjobs</title>
    <meta property="og:title" content="{{page.job.title}} @ {{page.job.company.name}} | Summerjobs">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">

    {% if page.job.thumbnail %}
      <meta property="og:image" content="{{ site.url }}/summer-cover.jpg">
    {% else %}
      <meta property="og:image" content="{{ site.url }}{{ page.dir }}{{ page.company.logo }}">
    {% endif %}

    <meta name="description" content="{{ page.job.description }}">
  </head>

  <body>


    <header id="site-header">
      {% include header.html %}
    </header>

    <div id="site-body">
      <div class="page">
        <div class="page-body">
          {% assign job = page.job %}
          {% assign company = page.company %}
          <main class="page-main">
            <article vocab="http://schema.org/" typeof="JobPosting" class="job" id="{{ job.id }}">
              <header class="job-header">
                <dl class="hidden">
                  <dt>Job title</dt>
                  <dd property="name">{{job.title}}</dd>
                  <dt>Job location</dt>
                  <dd property="address">{{company.address}}</dd>
                  <dt>Job image</dt>
                  <dd><img src="{{company.logo}}" property="image"/></dd>
                  <dt>Job description</dt>
                  <dd property="description">{{job.description}}</dd>
                  <dt>Job URL</dt>
                  <dd property="url">{{job.applyUrl}}</dd>
                  <dt>Job post date</dt>
                  <dd property="datePosted">{{job.date}}</dd>
                </dl>
                <div class="page-container">
                  <a href="./" class="job-company">

                    {% if company.logo %}
                      {% assign logo = company.logo %}
                      {% if page.useLogoAlt and company.logoAlt %}
                        {% assign logo = company.logoAlt %}
                      {% endif %}

                      <img src="{{ logo }}" alt="Logo {{ company.name }}"
                           style="height: 2em; width: auto;">
                    {% endif %}

                    <strong>{{ company.name }}</strong>
                  </a>

                  <h1 class="job-title">{{ job.title }}</h1>

                  {% if job.department %}
                    <p class="job-domain">{{ job.department }}</p>
                  {% endif %}

                  {% include btn-apply.html href=job.applyUrl %}

                  <div class="job-date">Publicat pe {{ job.date | humanday }}</div>
                </div>
              </header>

              <div class="job-body">
                <div class="page-container">
                  {{ content }}

                </div>
              </div>

              <footer class="job-footer">
                <div class="page-container">
                  <div class="align-center leading">
                    {% include btn-apply.html href=job.applyUrl %}
                    <section class="section">
                      <header class="section-header">
                    <h5 class="section-title">Recomandă jobul mai departe</h5>
                        </header>
                      <div class="section-body">
                    <ul class="list-inline">
                      <li>
                        <a class="social" href="https://www.facebook.com/sharer/sharer.php?u={{ page.job.applyUrl }}">
                          <svg class="svg-icon">
                            <use xlink:href="{{ site.static }}/img/sprite-social.svg#facebook"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a class="social" href="https://twitter.com/home?status={{ page.job.applyUrl }}">
                          <svg class="svg-icon">
                            <use xlink:href="{{ site.static }}/img/sprite-social.svg#twitter"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a class="social" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.job.applyUrl }}">
                          <svg class="svg-icon">
                            <use xlink:href="{{ site.static }}/img/sprite-social.svg#linkedin"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a class="social" href="https://plus.google.com/share?url={{ page.job.applyUrl }}">
                          <svg class="svg-icon">
                            <use xlink:href="{{ site.static }}/img/sprite-social.svg#googleplus"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                        </div>
                      </section>
                  </div>
                </div>
              </footer>
            </article>
          </main>

          {% assign dim=company.jobs | size %}
          {% if dim > 1 %}
          <aside class="page-aside">
            <div class="listing listing-jobs">
              <div class="listing-header align-center">
                <h3 class="listing-title">Alte joburi de la {{ company.name }}</h3>
              </div>
              <div class="listing-body">
                <ul class="listing-items">
                  {% for OTHERJOB in company.jobs %}
                  {% assign otherJobId = OTHERJOB[0] %}
                  {% assign otherJob = OTHERJOB[1] %}
                  {% unless job.id == otherJobId %}
                  <li class="listing-item">
                    {% include job-snippet.html job=otherJob %}
                  </li>
                  {% endunless %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </aside>
          {% endif %}
        </div> 
      </div>
    </div>

    <footer id="site-footer">
      {% include footer.html %}
    </footer>

    {% include scripts.html %}
    <script src="/{{ site.baseurl }}{% ministamp _static/js/map.js static/js/map.js %}">></script>
  </body>

</html>
