<!DOCTYPE html>
<html lang="ro" class="page-job">

  <head>
    {% include head.html %}
    <meta name="description" content="{{ page.job.description }}">
  </head>

  <body>

    <header id="site-header">
      {% include header.html %}
    </header>

    <div id="site-body">
      <div class="page">

        {% assign job = page.job %}
        {% assign company = page.company %}
        <main class="page-body">

          <article class="job" id="{{ job.id }}">
            <header class="job-header">
              <div class="page-container">
                <a href="./" class="job-company">

                  {% if company.logo %}
                    {% assign logo = company.logo %}
                    {% if page.useLogoAlt and company.logoAlt %}
                      {% assign logo = company.logoAlt %}
                    {% endif %}

                    <img src="{{ logo }}" alt="Logo {{ company.name }}"
                         style="height: 2em; width: auto;">
                  {% endif %}

                  <strong>{{ company.name }}</strong>
                </a>

                <h1 class="job-title">{{ job.title }}</h1>

                {% if job.department %}
                  <p class="job-domain">{{ job.department }}</p>
                {% endif %}

                {% include btn-apply.html href=job.applyUrl %}

              </div>
            </header>

            <div class="job-body">
              <div class="page-container">
                {{ content }}
              </div>
            </div>

            <footer class="job-footer">
              <div class="page-container">
                <div class="align-center">
                {% include btn-apply.html href=job.applyUrl %}
                </div>
              </div>
            </footer>

          </article>

          <!-- <aside>
            <h5>Recomandă jobul mai departe</h5>
            <ul class="list-inline">
              <li>
                <a href="{{ page.company.social.facebook }}">
                  Facebook
                  <svg class="svg-icon">
                    <use xlink:href="{{ site.static }}/img/sprite-social.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="{{ page.company.social.twitter }}">
                  Twitter
                  <svg class="svg-icon">
                    <use xlink:href="{{ site.static }}/img/sprite-social.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  LinkedIn
                  <svg class="svg-icon">
                    <use xlink:href="{{ site.static }}/img/sprite-social.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="">
                  Google+
                  <svg class="svg-icon">
                    <use xlink:href="{{ site.static }}/img/sprite-social.svg#googleplus"></use>
                  </svg>
                </a>
              </li>
            </ul>

            <nav>
              
              {% if company.jobs|size > 1 %}


                {% for OTHERJOB in company.jobs %}
                  {% assign otherJobId = OTHERJOB[0] %}
                  {% assign otherJob = OTHERJOB[1] %}
                  {% unless job.id == otherJobId %}
                    
                    <a href="{{ otherJob.page.url }}">{{ otherJob.title }}</a>
                    <p>
                      {{ otherJob.description }}
                    </p>

                  {% endunless %}
                {% endfor %}
              hello

              {% endif %}

            </nav>

          </aside> -->

        </main>

        <footer class="page-footer">
          
        </footer>

      </div>
    </div>

    <footer id="site-footer">
      {% include footer.html %}
    </footer>

    {% include scripts.html %}
    <script src="/static/js/map.js"></script>
    <script>
      (function() {
        var viewed = window.localStorage.getItem('viewedJobs') || '';

        if (viewed !== '') {
          if (viewed.split) {
            viewed = viewed.split(', ');
          } else {
            viewed = [viewed];
          }
        }

        viewed.forEach(function(jobId) {
          console.log(jobId);
          job = document.getElementById(jobId);
          if (job)
            job.classList.add('viewed');
        });
      }())
    </script>
    <script>
      (function() {
        if (window.localStorage) {
          var viewed = window.localStorage.getItem('viewedJobs') || '',
              jobId = '{{ job.id }}';

          if (viewed.indexOf(jobId) === -1) {
            if (viewed === '') {
              viewed = jobId;
            } else {
              viewed += ', ' + jobId;
            }
          }
          window.localStorage.setItem('viewedJobs', viewed);
        }
      }())
    </script>
    {% include scripts.html %}

  </body>

</html>
