---
demo: true
job:
  title: Junior Frontend Developer
  description: >
    Platforma noastră este scrisă folosind Python și Django. Datele le analizăm utilizând tehnici de machine learning.
  department: Departamentul Web development
  category: Software
  thumbnail: junior-frontend-developer-thumb.jpg
  applyUrl: https://junio.ro/jobs/i-ittelecom-j-front-end-developer-c-eau-de-web-56947
  
useLogoAlt: true
---

<style>
  .job-header {
    background: #0b317c url('junior-frontend-developer-cover.jpg') no-repeat right center;
    background-size: auto 100%;
    color: #fff;
  }

  .job-title,
  .job-domain,
  .job-company {
    color: inherit;
  }
</style>
<div vocab="http://schema.org/" typeof="JobPosting">
  <span property="url" class="hidden">{{page.job.applyUrl}}</span>
  <span property="datePosted" class="hidden">{{page.job.date}}</span>
<section property="description" class="section">
  <header class="section-header">
    <h2 class="section-title">Cine suntem?</h2>
  </header>
  <div class="section-body">
    <div property="hiringOrganziation" typeof="Organization" class="section-copy">
      <p>Junio este un startup lansat acum 6 luni care își propune să ofere studenților joburi part-time, ocazionale, voluntariate și stagii de vară care să le permită să capete experiență încă din timpul facultății și să își asigure un venit propriu în același timp. Astfel, au la dispoziție timpul necesar pentru a-și finaliza studiile.</p>
      <p>Avem o platformă fresh dezvoltată cu tehnologii noi de o echipă foarte tare și parteneriate cu cele mai importante organizații studențești. În acest moment suntem prezenți în București și Iași, cu peste 2000 de studenți înregistrați și vrem să ne extindem și în Cluj,  Constanța, Craiova și Timișoara (în ordine alfabetică aici). Obiectivul este să avem 10000 de studenți înregistrați până la finalul anului.</p>
      <p>Din echipa noastră fac parte mentori care țin cursuri în Politehnică și la Universitate, oameni care se vor implica activ în dezvoltarea ta. Încurajăm și susținem studenții să-și termine cu bine școala. Mulți dintre noi lucrăm la Junio part-time iar una din condițiile puse la angajare a fost să ne menținem mediile bune.</p>
    </div>
  </div>
</section>

<section property="skills" class="section">
  <header class="section-header">
    <h2 class="section-title">Descrierea stagiului</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>Platforma noastră este scrisă folosind Python și Django. Datele le analizăm utilizând tehnici de machine learning. Folosim Slack ca să comunicăm, Git pentru versionare, Sentry pentru monitorizarea erorilor în timp real, Vagrant și VirtualBox pentru mediul de dezvoltare, Fabric pentru deployment, PostgreSQL să ținem datele, Amazon SES și S3, Codeship pentru rularea testelor și probabil vom mai utiliza sau măcar încerca 2-3 tehnologii noi din momentul scrierii acestui anunț până acum când îl citești :)</p>
      <ul class="list-inline align-center leading">
        <li>{% include tech-thumb.html tech='amazon' %}</li>
        <li>{% include tech-thumb.html tech='codeship' %}</li>
        <li>{% include tech-thumb.html tech='django' %}</li>
        <li>{% include tech-thumb.html tech='git' %}</li>
        <li>{% include tech-thumb.html tech='postgresql' %}</li>
        <li>{% include tech-thumb.html tech='python' %}</li>
        <li>{% include tech-thumb.html tech='sentry' %}</li>
        <li>{% include tech-thumb.html tech='slack' %}</li>
        <li>{% include tech-thumb.html tech='vagrant' %}</li>
        <li>{% include tech-thumb.html tech='virtualbox' %}</li>
      </ul>
      <p>Pe toată durata stagiului vei lucra împreună cu noi la dezvoltarea platformei. Avem o groază de idei ce așteaptă să fie implementate și o tonă de feedback furnizat constant de utilizatorii noștri.</p>
      <p>Putem să-ți promitem că o să-ți lași amprenta pe produsul nostru, vei fi parte decisivă a echipei, părerea ta fiind importantă pentru noi dar și pentru dezvoltarea aplicației.</p>
    </div>
  </div>
</section>

<section property="responsibilities" class="section">
  <header class="section-header">
    <h2 class="section-title">Training</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>Din prima zi îți vor fi asignate task-uri reale, vei participa la ședințele de analiză și îți vei putea vedea codul în producție, după ce treci de code review. Un program de training va fi special adaptat pentru tine astfel încât să acumulezi o mulțime de cunoștințe într-un timp relativ scurt.</p>
      <p>Mentorul tău va aloca 20% din timpul lui pentru trainingul tău. Este important pentru noi să nu te simți uitat într-un birou așa că vei lucra exact in biroul lui. Poți explora însă și celelalte departamente (marketing, SEO, dev-ops, support) astfel încât să poți avea o idee foarte clară asupra a ce facem noi la Junio.</p>
      <p>Oricând poți avea o discuție liberă cu oricare dintre membrii echipei pentru a le cere sfaturi sau pentru a rezolva eventualele probleme.</p>
    </div>
  </div>
</section>

<section class="section">
  <header class="section-header">
    <h2 class="section-title">Procesul de selecție</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>Căutam colegi care să semene cu noi, cu care să ne facă plăcere să ieșim în oraș, oameni cu următoarele calități:</p>
      <ul>
        <li>Capacitatea de a înțelege și de a rezolva probleme nu tocmai ușoare.</li>
        <li>Energie, entuziasm, versatilitate și creativitate.</li>
        <li>Capacitatea de a comunica eficient și coerent o idee sau o problemă.</li>
      </ul>
      <p>Pentru a fi acceptat la stagiu nu-ți trebuie experiență anterioară. Selectăm însă studenții care au medie școlară bună. Nu trebuie să fii excepțional, însă vrem să vedem că o dată ce ți-ai propus să faci facultatea o și iei în serios.</p>
      <p>Dacă îndeplinești toate cerințele de mai sus atunci suntem mai mult decât interesați să te întâlnim. Pentru a aplica, folosește butonul “Vreau acest stagiu” din partea superioară a paginii. Dacă vrei să afli mai multe despre job înainte să aplici scrie-ne pe adresa <a href="mailto:cariere@junio.ro">cariere@junio.ro</a></p>
      <p>Întrucât și timpul este prețios, vom chema la interviu doar o treime din numărul de aplicanți. Alegerea o facem exclusiv pe baza informațiilor din CV, așa că sfatul nostru este să-ți treci cât mai multe lucruri care te pun în evidență. Informații precum liceul absolvit sau voluntariatul pe care l-ai făcut acum 2 ani pot face diferența.</p>
    </div>
  </div>
</section>

<section class="section">
  <header class="section-header">
    <h2 class="section-title">Interviul</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>Chiar dacă suntem la început, avem un proces de recrutare extrem de bine pus la punct. Vei fi informat încă de la început ce presupune interviul și ce trebuie să pregătești pentru fiecare pas astfel încât să nu ai surprize.</p>
      <ul>
        <li>Vom face tot posibilul să te facem să te simți confortabil</li>
        <li>Vei primi un feedback onest la finalul interviului</li>
      </ul>
      <p>Interviul durează o oră și se desfășoară, în baza unei programări, la sediul Junio din strada <a href="#biroul">Maior Gh. Șonțu nr. 8</a>. În timpul interviului, ne vom prezenta reciproc, te vom întreba despre proiectele de la școală și te vom chinui cu un test tehnic :)</p>
      <p>În maxim 48 de ore o să primești un răspuns din partea noastră. Între timp ținem legătura în cazul în care mai ai întrebări sau dacă, în dorința de a ne decide, te rugăm sa ne mai vizitezi o dată.</p>
    </div>
  </div>
</section>

<section property="benefits" class="section">
  <header class="section-header">
    <h2 class="section-title">Beneficii</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <div class="media leading">
        <div class="media-object">
          <img src="benefits.jpg" alt="Beneficii">
        </div>
      </div>
      <p>Salariul este de 350 euro pe luna.</p>
      <p>Poți veni cu bicicleta la birou și o poți parca în interior folosind rastelul protejat. Cei mai mulți dintre noi folosim acest mijloc de transport așa ca nu o sa fii singurul ciudat :)</p>
      <p>Suntem împătimiți ai cafelei așa că te putem învăța cum să-ți faci un espresso ristretto sau un capuccino folosind espresorul din bucătărie. La prânz poți mânca în parc sau la unul din multele restaurante din zona. Nu exclude posibilitatea de a avea un prânz alături de cei de la birou chiar în bucătărie.</p>
      <p>Organizăm seri de board games. O dată pe luna poți mânca clătite pe saturate făcute de colegul nostru Vali sau poți savura unul din cocktailurile perfecte servite de Dragoș. Rețeaua noastră de ambasadori se întâlnește o dată pe lună la bere așa că ai încă un motiv de socializare.</p>
    </div>
  </div>
</section>

<section class="section">
  <header class="section-header">
    <h2 class="section-title">Echipa</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <p>Suntem 12 oameni în echipă așa că, pe perioada verii, tu vei fi numărul 13 (sau 12bis dacă ești superstițios). Avem colegi maratoniști, triatloniști și mtb-iști. Ieșim la ture și concursuri și credem în dezvoltarea spiritului de echipă prin sport. Dacă vremea este urâtă, poți oricând juca o partida de șah, un board game sau poți rezolva cuburile Rubik.</p>
      <p>Vei face parte din echipa de dezvoltare așa că ne-am gândit să-ți prezentăm pe trei dintre colegii tăi: Andreea, Ioana și Dragoș.</p>
      <div class="leading align-center">
        <ul class="list-inline">
          <li>
            {% include teammate.html
                       name='Andreea'
                       photo='andreea.jpg'
                       position='Engineering' %}
          </li>
          <li>
            {% include teammate.html
                       name='Ioana'
                       photo='ioana.jpg'
                       position='Data Scientist' %}
          </li>
          <li>
            {% include teammate.html
                       name='Dragoș'
                       photo='dragos.jpg'
                       position='Head of Engineering' %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section property="jobLocation" class="section" id="biroul">
  <header class="section-header">
    <h2 class="section-title">Biroul</h2>
  </header>
  <div class="section-body">
    <div class="section-copy">
      <div class="media leading">
        <div class="media-object">
          <img class="center" src="office.jpg" alt="Biroul">
        </div>
      </div>
      <p>Biroul nostru este la 3 minute de mers pe jos de parcul Herastrău și la fel de aproape de stația de metrou de la Aviatorilor. Te poți înscrie în una din echipele noastre de ștafetă sau, pur și simplu, poți alerga împreună cu ei în parc. La final poți folosi unul dintre dușurile special amenajate la birou.</p>
      <p>Birourile noastre sunt reglabile pe înălțime astfel încât să ai o poziție optimă la birou. Poți avea biroul ridicat când îți bei cafeaua de dimineață și îl poți lăsa jos când vrei să lucrezi.</p>
    </div>
    <div class="section-media">
      <div class="map-container">
        <div id="map-canvas" data-address="Str. Maior Gherghe Șonțu nr. 8, București, România"></div>
      </div>
    </div>
  </div>
</section>
</div>
